<header>
    <nav class="navbar navbar-expand navbar-light navbar-top">
        <div class="container-fluid">
            <a href="https://localhost:7295/Home">
                <i class="fas fa-home"></i>
            </a>
        </div>       
    </nav>
</header>

<script>
    $(document).ready(() => {
        $("#btnLogout").click(function () {
            location.href = "/Auth/Logout";
        });
    });


</script>